@import "Const";
@import "nullStyle";
@import "Standart";
@import "CanvasMatrix";
@import "Navigation";
@import "Biography";
@import "Carrousel";
@import "Skills";
@import "Projects";
@import "Footer";
@import "media";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');


._none {
  display: none;
}

.line_anim {
  width: 98%;
  box-shadow: $txt_color2 0 0 15px 2px;
}


.bold {
  font-weight: bold;
}

.project_wrap .project_list {
  padding: 0;
}

.react{
  display: none;
}


.projects_slider {
  display: flex;
  justify-content: space-between;

  .right_array {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;

    i {
      cursor: pointer;
      &:hover{
        color: $txt_color2;
      }
    }

    i:nth-child(1) {
      color: $txt_color2;
      animation: first_arr 3s linear infinite;
    }

    i:nth-child(2) {
      color: $txt_color;
      animation: second_arr 3s linear infinite;
    }


  }

  .left_array {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;

    i {
      cursor: pointer;
      &:hover{
        color: $txt_color2;
      }
    }

    i:nth-child(2) {
      color: $txt_color2;
      animation: first_arr 3s linear infinite;
    }

    i:nth-child(1) {
      color: $txt_color;
      animation: second_arr 3s linear infinite;
    }
  }
}

@keyframes first_arr {
  0% {
    color: $txt_color2;
  }
  50% {
    color: #3b0910;
  }
  100% {
    color: $txt_color2;
  }
}

@keyframes second_arr {
  0% {
    color: #3b0910;
  }
  50% {
    color: $txt_color2;
  }
  100% {
    color: #3b0910;;
  }
}