@import "Const";
@import "nullStyle";
@import "Standart";
@import "CanvasMatrix";
@import "Navigation";
@import "Biography";
@import "Carrousel";
@import "Skills";
@import "Projects";
@import "Footer";
@import "media";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');


._none {
  display: none;
}

.line_anim {
  width: 98%;
  box-shadow: $txt_color2 0 0 15px 2px;
}


.bold {
  font-weight: bold;
}

.project_wrap .project_list {
  padding: 0;
}

.react{
  display: none;
}


.projects_slider {
  display: flex;
  justify-content: space-between;

  .right_array {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;

    i {
      cursor: pointer;
      &:hover{
        color: $txt_color2;
      }
    }

    i:nth-child(1) {
      color: $txt_color2;
      animation: first_arr 3s linear infinite;
    }

    i:nth-child(2) {
      color: $txt_color;
      animation: second_arr 3s linear infinite;
    }


  }

  .left_array {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;

    i {
      cursor: pointer;
      &:hover{
        color: $txt_color2;
      }
    }

    i:nth-child(2) {
      color: $txt_color2;
      animation: first_arr 3s linear infinite;
    }

    i:nth-child(1) {
      color: $txt_color;
      animation: second_arr 3s linear infinite;
    }
  }
}

@keyframes first_arr {
  0% {
    color: $txt_color2;
  }
  50% {
    color: #3b0910;
  }
  100% {
    color: $txt_color2;
  }
}

@keyframes second_arr {
  0% {
    color: #3b0910;
  }
  50% {
    color: $txt_color2;
  }
  100% {
    color: #3b0910;;
  }
}


header{
  display: flex;
  //justify-content: space-between;
  padding: 20px;
  //column-gap: 50px;
  align-items: center;
  background: linear-gradient(90.71deg, #0000 0%, $txt_color 100%);
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $txt_color2;
  a{
    padding: 5px;
    background: linear-gradient(30.71deg, $txt_color2 30%, #f8818e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.4s linear;
    img{
      width: 30px;
      height: 30px;
    }
    &:nth-child(1){
      border-right: 1px solid $txt_color2;
      border-radius: 3px;
    }
    &:hover{
      background: linear-gradient(30.71deg, #f8818e 30%, $txt_color2 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}